<h2 class="page-header">Recently Added</h2>
<%- include('partials/itemGrid', { items: items }) %>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>