<div class="form-row">
    <div class="form-item">
      <label>Name</label>
      <input type="text" name="name" value="<%= item.name %>">
    </div>
    <div class="form-item">
      <label>Site URL</label>
      <input type="text" name="siteUrl" value="<%= item.siteUrl %>">
    </div>
    <div class="form-item">
      <label>GitHub URL</label>
      <input type="text" name="githubUrl" value="<%= item.githubUrl %>">
    </div>
    <div class="form-item">
      <label>YouTube URL</label>
      <input type="text" name="youtubeUrl" value="<%= item.youtubeUrl %>">
    </div>
</div>